{% extends 'layout.html' %}
{% block body %}
   <div class="cd">
        <h1>BE PROJECT</h1>
        <p class="ab"><b>GENERALIZED SENTIMENT LEARNER USING DEEP LEARNING</b></p>
    
        <form id="formData" action="." method=POST enctype=multipart/form-data>
            <input type=file id="fileInput">
            <!-- <input value=Upload> -->
            <button class="button" type="button" id="uploadBtn">Upload</button>
            <input class="gh" type="text" id="inputText" placeholder="Enter the text"><br>
            <!-- <input class="button" type="submit" value="Analyze"> -->
            <button id="analyze-btn" class="button">Analyze</button>
        </form>
    </div>
    <div class="container" id="imageContainer">
      
    </div>
    <script>
        $('document').ready(function(){
            $('#analyze-btn').on('click',function(event) {
                $.ajax({
                    data: JSON.stringify({
                      inputData: $('#inputText').val()
                    }),
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    url: "/process"
                })
                .done(function(response) {
                  if($('#image').length) {
                    $('#image').attr('src', '/static/images/'+response.image_name);
                  } else {
                    $('#imageContainer').html('<img id="image" src="'+'/static/images/'+response.image_name+'" />');
                  }
                }) 
                .fail(function(data) {
                  alert('failed');
                  console.log(data); 
                });
                event.preventDefault();
            });
            $('#fileInput').on('change',function(event) {
                var file = $('#fileInput')[0].files[0];
                var fileName = file.name;
                console.log("file is ",file," file name is ",fileName);
                $('#uploadBtn').on('click',function(event) {
                    var form_data = new FormData();
                    form_data.append('file',file);
                    $.ajax({
                        data: form_data,
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        url: "/upload"
                    })
                        .done(function(response) {         
                        });
                });
            });  
        });
    </script>
{% endblock %}